.containerPagination {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin: 20px;
}

.btn {
  min-width: 30px; /* Define a largura do botão */
  padding: 4px 8px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.btnTruncate {
  white-space: nowrap; /* Impede que o texto quebre linha */
  overflow: hidden; /* Esconde o texto que ultrapassa a largura */
  text-overflow: ellipsis;
}

.active {
  background-color: #ff4800;
  color: #fff;
  font-weight: bold;
}
