:root {
  --shadow-btn: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.detailsContainer .poster {
  max-height: 80vh;
  width: 100%;
  object-fit: cover;
}

.backBtn {
  position: absolute;
  top: 0;
  left: 0;
  margin: 18px;
  border-radius: 6px;
  box-shadow: var(--shadow-btn);
}

.content {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.titleContainer {
  text-align: center;
  color: #eb5e28;
}

.overviewContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overviewText {
  color: #fffcf2;
}
p {
  color: #fffcf2;
}

.infos .genres {
  font-weight: bold;
  color: #eb5e28;
}

.companies {
  position: relative;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4ded3;
  border-radius: 6px;
  background: rgba(204, 197, 185, 0.2);
  box-shadow: rgb(29, 28, 28) 3px 3px 6px 0px inset,
    rgba(240, 233, 222, 0.5) -3px -3px 6px 1px inset;
  padding: 10px 20px;
}

.companiesLoading {
  position: relative;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.companies .companieImg {
  max-width: 6rem;
  padding: 10px;
}

.btnFavorite {
  min-width: 20%;
  border-radius: 6px;
  box-shadow: var(--shadow-btn);
}

@media screen and (min-width: 425px) {
  .detailsContainer .poster {
    width: 100%;
    object-fit: cover;
  }
  .infos {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}

@media screen and (min-width: 600px) {
  .detailsContainer .poster {
    min-height: 100vh;
    height: auto;
    width: 30%;
  }

  .detailsContainer {
    display: flex;
  }

  .infos {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
