.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.backBtn {
  position: absolute;
  top: 0;
  left: 0;
  margin: 18px;
  border-radius: 6px;
  box-shadow: var(--shadow-btn);
}

.item {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #252422;
  margin: 10px;
  overflow: hidden;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 1);
}

.container img {
  max-width: 100%;
  object-fit: cover;
  max-height: 450px;
}

@media screen and (min-width: 640px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .backBtn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(5, 1fr);
  }
}
