.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(37, 36, 34, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 10px 20px;
}

.imgContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.imgContainer img {
  display: none;
  cursor: pointer;
}

.searchContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  display: flex;
  gap: 20px;
}

.imgContainer h1 {
  display: none;
  color: #fffcf2;
  font-size: larger;
}

.searchContainer .favoritesBtn {
  border: none;
  background-color: transparent;
  color: #fffcf2;
  text-decoration: underline;
  cursor: pointer;
  font-size: medium;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}

.searchContainer .favoritesBtn:hover {
  color: #eb5e28;
  transform: scale(1.05);
}

input[type="text"] {
  width: 100%;
  padding: 5px 40px 5px 10px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #ccc5b9;
}

input:focus {
  outline: none;
  border-color: #eb5e28;
  box-shadow: 0 0 6px rgba(235, 94, 40, 1);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.searchButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  transition: all 0.3s ease-in;
}

.searchButton:hover {
  color: #8d8d8d;
}

@media screen and (min-width: 640px) {
  .imgContainer img {
    display: block;
  }

  .imgContainer h1 {
    display: block;
  }

  .searchContainer {
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  .imgContainer h1 {
    font-size: x-large;
  }

  .searchContainer .favoritesBtn {
    font-size: large;
  }
}

@media screen and (max-width: 640px) {
  .headerNone {
    display: none;
  }
}
